
.header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 222, 222) ;
    z-index: 100;
}
.hamburger-menu {
    height: 30px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo {
    min-width: 5px;
    max-width: 120px;
    height: 50px;
}
.left-section {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 500px;
}
.search-button {
    display: flex;
    align-items: center;
    height: 39px;
    width: 60px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    margin-left: -1px;
    margin-right: 15px;
    box-shadow: inset 1px 2px 3px rgba(4, 4, 4, 0.15);
}
.search-button .tooltip, .mic-button .tooltip, .create-button .tooltip, .notification-icon-div .tooltip {
    position: absolute;
    bottom: -40px;
    background-color: grey;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    padding: 7px;
    opacity: 0;
    transition: opacity .15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip, .mic-button:hover .tooltip, .create-button:hover .tooltip, .notification-icon-div:hover .tooltip {
    opacity: 1;
}
.search-button:hover, .mic-button:hover, .create-button:hover, .notification-icon-div:hover {
    cursor: pointer;
}
.search-button, .mic-button, .create-button, .notification-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search-bar {
    flex: 1;
    height: 35px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(4, 4, 4, 0.15);
    width: 0;
}
.search-bar::placeholder {
    font-size: 16px;
}
.mic-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
}
.right-section {
    display: flex;
    align-items:center ;
    justify-content: space-between;
    width: 140px;
    margin-right: 20px;
}
.create-icon {
    height: 28px;
}
.notification-icon {
    height: 28px;
}
.notification-icon-div {
    position: relative;
}
.notification-count {
    position: absolute;
    font-size: 12px;
    top: -3px;
    right: -6px;
    background-color: rgb(200, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 1px 5px 2px 5px;
    color: white;
    font-weight: 500;
}
.main-author {
    height: 35px;
    border-radius: 30px;
}
@media (max-width: 768px) {
    .hamburger-menu {
        display: none;
    }
    .header {
        height: 50px;
    }
    .youtube-logo {
        width: 80px;
        height: 20px;
    }
    .search-bar {
        display: none;
    }
    .search-button {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        font-size: 10px;
        padding: 5px;
        border: none;
        box-shadow: none;
    }
    .right-section {
        margin-right: 5px;
    }
}