.side-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    width: 80px;
    background-color: white;
    z-index: 100;
    cursor: pointer;
}
.sidebar-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 1px;
}
.sidebar-link:hover {
    background-color: rgb(232, 232, 232);

}
.side-bar img {
    height: 30px;
    margin-bottom: 4px;
}
.sidebar-link div {
    font-size: 10px;
    font-weight: 700;
}